<div *ngIf="!dice.selected" (click)="selectDice(dice)"
     #domDice
     class="dice-container dice-{{ dice.id }} dice-show-{{dice.activeSide}} {{dice.selected ? 'selected' : ''}}">
  <figure class="dice-side-1">1</figure>
  <figure class="dice-side-2">2</figure>
  <figure class="dice-side-3">3</figure>
  <figure class="dice-side-4">4</figure>
  <figure class="dice-side-5">5</figure>
  <figure class="dice-side-6">6</figure>
</div>

<div *ngIf="dice.selected" (click)="unSelectDice(dice)"
     #domDice
     class="dice-container dice-{{ dice.id }} dice-show-{{dice.activeSide}} {{dice.selected ? 'selected' : ''}}">
  <figure class="dice-side-1">1</figure>
  <figure class="dice-side-2">2</figure>
  <figure class="dice-side-3">3</figure>
  <figure class="dice-side-4">4</figure>
  <figure class="dice-side-5">5</figure>
  <figure class="dice-side-6">6</figure>
</div>
