<div class="digit">
  <div class="digit-item">
    <label class="digit-item-lanel"> {{ digit.label }}</label>
    <input
      disabled="disabled"
      name="digit"
      class="digit-value"
      type="text"
      #digitRef="ngModel"
      [(ngModel)]="digit.value"
    >
  </div>
  <div class="digit-control">
    <button (click)="add(digit)" *ngIf="!digit.added">
      add
    </button>
    <button *ngIf="digit.added && !digit.locked" (click)="remove(digit)">
      remove
    </button>
  </div>
</div>
