<h2>
  Herzlich Willkommen. Spielen sie doch eine Runde DiceItUp!
</h2>
<div class="content">
  <h3>Ein Spiel, das jung und alt begeistert.</h3>
  <p>DiceMeUp orientiert sich an Klassikern wie Kniffel, geht aber noch einen
    Schritt weiter. Spielen Sie online gegen Freunde und verewigen Sie ihren Highscore auf der Bestenliste!</p>
  <button type="button" routerLink="/game">Jetzt Spielen!</button>
</div>
<div class="left">
  <h2>Bestenliste</h2>
  <ul>
    <li>Oma</li>
    <li>Johannes</li>
    <li>Iris</li>
    <li>Iris</li>
    <li>Florian</li>
  </ul>
</div>
